<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
	  http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<context:annotation-config />
	<context:property-placeholder/>
	
	<bean id="worldMap" class="dk.geomap.reports.bfworldmap.MarketsLiquidityWorldMapImpl">
		<constructor-arg ref="betfair"/>
	</bean>
	<bean id="bfbdCompare" class="dk.geomap.reports.bfbdcompare.BfBdCompareImpl">
	<constructor-arg ref="totalMatchedDao"/>
	</bean>
	
	
	<bean id="betfair" class="dk.bot.betfairservice.DefaultBetFairServiceFactoryBean" init-method="login">
		<property name="user" value="xxx" />
		<property name="password" value="xxx" />
		<property name="productId" value="xxx" />
	</bean>
	
	<bean id="betDaq"
		class="dk.bot.betdaq.BetDaqFactoryBean" init-method="init">
		<property name="userName" value="xxx"/>
		<property name="password" value="xxx"/>
		<property name="version" value="2.0"/>
		<property name="language" value="en"/>
	</bean>

</beans>