<html>
  <head>
    <script type='text/javascript' src='http://www.google.com/jsapi'></script>
    <script type='text/javascript'>
      google.load('visualization', '1', {'packages':['annotatedtimeline']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
    	var rawdata = $rawdata
        var data = new google.visualization.DataTable(rawdata.table);
     
        var chart = new google.visualization.AnnotatedTimeLine(document.getElementById('chart_div'));
        chart.draw(data, {displayAnnotations: true});
      }
    </script>
  </head>

   <body>
    <b>BetFair vs BetDaq - How total matched of money is growing during a day for HR_UK markets.<b><br/><br/>
    <div id='chart_div' style='width: 800px; height: 600px;'></div>
  </body>
</html>